@use 'variables' as *;

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;

  @media (min-width: map-get($breakpoints, 'sm')) {
    max-width: 550px;
    padding: 0.5rem;
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    max-width: 740px;
  }

  @media (min-width: map-get($breakpoints, 'lg')) {
    max-width: 900px;
  }

  @media (min-width: map-get($breakpoints, 'xl')) {
    max-width: 1200px;
  }

  @media (min-width: map-get($breakpoints, '2xl')) {
    max-width: 1400px;
  }
}

// ***** Flexbox ***** //
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
  background-color: blue;
}

.flex-2 {
  flex: 2;
  background-color: red;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

// ***** Margins ***** //
.mt-1 {
  margin-top: 0.4rem;
}

.mt-2 {
  margin-top: 0.8rem;
}

.mt-3 {
  margin-top: 1.2rem;
}

.mt-4 {
  margin-top: 1.6rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.4rem;
}

.mb-2 {
  margin-bottom: 0.8rem;
}

.mb-3 {
  margin-bottom: 1.2rem;
}

.mb-4 {
  margin-bottom: 1.6rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

// ***** Padding ***** //

.p-1 {
  padding: 0.4rem;
}

.p-2 {
  padding: 0.8rem;
}

.p-3 {
  padding: 1.2rem;
}

.p-4 {
  padding: 1.6rem;
}

.p-5 {
  padding: 2rem;
}
