@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: $font-size-root; // 1rem = 10px
  font-family: 'Poppins', sans-serif;
  color: $color-grey-dark;
}

body {
  font-size: $font-size-md; // 1.6rem = 16px
  line-height: 1.7;
  font-weight: $font-weight-regular;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-md;
}

h1 {
  font-size: $font-size-4xl; // 2.6rem = 26px
}

h2 {
  font-size: $font-size-3xl; // 2.4rem = 24px
}

h3 {
  font-size: $font-size-2xl; // 2.2rem = 22px
}

h4 {
  font-size: $font-size-xl; // 2rem = 20px
}

h5 {
  font-size: $font-size-lg; // 1.8rem = 18px
}

h6 {
  font-size: $font-size-md; // 1.6rem = 16px
}

p {
  margin-bottom: $spacing-md;
}

.title {
  text-transform: uppercase;
  font-size: clamp(4rem, 6vw, 10rem);
  line-height: 1.2;
}

.green-text {
  color: $color-green;
}
